* {
  padding: 0%;
  margin: 0%;
}

html {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.services h1,
.testymonials h1,
.contact__us h1 {
  font-size: 3rem;
}

/* NAVIGATION BAR */

.nav__ul {
  /* border: 1px solid red; */
  width: 100%;
  height: 10rem;
  gap: 1rem;
  position: absolute;
  top: 6rem;
  background: #fff;
  z-index: 1;
}

.nav__ul:hover {
  transform: scale(1, 1);
}

.nav__li {
  margin-left: 1rem;
  list-style: none;
}

.nav__links {
  font-size: 1rem;
  text-decoration: none;
  color: #6d91ee;
  font-weight: bolder;
  transition: all ease-in-out 0.5s;
}

.nav__links:hover {
  font-size: 1.2rem;
  padding: 1.2rem;
  transition: all ease-in-out 0.2s;
}

.checkbox:checked ~ nav {
  display: none;
}

.label {
  display: block;
  border: 3px solid #6d91ee;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 1.3rem;
  right: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  opacity: 0.5;
  transition: all ease-in-out 0.5s;
}

.label:hover {
  opacity: 1;
  transition: all ease-in-out 0s;
}

.label span {
  height: 4px;
  position: absolute;
  background: #6d91ee;
  border-radius: 0.5rem;
}

.span__top {
  top: 0.5rem;
  left: 0.5rem;
  width: 1rem;
}

.span__mid {
  top: 1.4rem;
  width: 2rem;
}

.span__bottom {
  bottom: 0.5rem;
  right: 0.5rem;
  width: 1rem;
}

/* NAVIGATION BAR END */

/* header */

.logo {
  height: 3rem;
  width: 4rem;
}

.header {
  background: url(./img/hero.png) #e3dede;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* border: 3px solid red; */
}

.header__rock {
  margin-top: 1rem;
}

.header__expert {
  /* border: 2px solid red; */
  background: #6d91ee;
  width: 7rem;
  height: 2rem;
  display: grid;
  place-items: center;
  color: #fff;
  border-radius: 1rem;
}

.header__block {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  height: 80%;
  width: 30rem;
  position: relative;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__rock h3 {
  letter-spacing: 4px;
}

.header > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
}

.header p {
  margin-inline: 4rem;
  text-align: center;
}

.btn {
  width: 7rem;
  height: 3rem;
  border-radius: 2rem;
  font-weight: bolder;
  color: #fff;
  background: #6d91ee;
  border: transparent;
  cursor: pointer;
  text-transform: capitalize;
}

/* header__end */

/* about */

.about {
  height: 100vh;
  background: url(./img/about-bg.png) center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
}

.about__img {
  width: 20rem;
}

.about > * {
  text-transform: capitalize;
  color: #fff;
  /* padding-inline: 4rem; */
}

.about__left,
.about__right {
  /* border: 2px solid red; */
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap: 1.5rem;
}

.btn__block {
  width: 100%;
  /* border: 2px solid red; */
  position: absolute;
  left: 0;
  top: 80%;
  text-align: center;
  z-index: 4;
}

.about__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about__left h1,
.about__right h1 {
  font-size: 3rem;
  /* border: 2px solid red; */
}

.yellow {
  background: #eec04b;
}

.gray {
  color: #4f4f4f;
  text-align: center;
}

.lorem__h1 {
  font-size: 3rem;
}

.light__blue {
  color: #6d91ee;
}

/* about end*/

/* services */

.services {
  height: 230vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  text-transform: capitalize;
  color: #6d91ee;
  /* border: 3px solid red; */
}

.services__block {
  gap: 3rem;
}

.services__box {
  width: 24rem;
  /* border: 2px solid red; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 2rem;
  text-align: left;
}

.services__box h3,
.services__box p {
  margin-inline: 1rem;
  color: #6d91ee;
  padding: 1rem 0rem;
  letter-spacing: 1px;
}

/* services end */

/* testymonials */

.testymonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 200vh;
  /* text-align: center; */
  text-transform: capitalize;
  color: #6d91ee;
}

.testymonials__bottom {
  /* border: 2px solid red;  */
  margin-inline: 4rem;
  display: grid;
  place-items: center;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-gap: 2rem;
}

.testymonials__box {
  border: 1px solid #6d91ee;
  padding: 3rem 4rem;
  border-radius: 3rem;
}

.right__testymonials {
  height: 10rem;
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right__testymonials h3,
.right__testymonials p {
  text-transform: capitalize;
  color: #6d91ee;
}

.star__block > * {
  /* border: 2px solid red;   */
  margin-right: 0.5rem;
}

/* testymonials__end*/

/* contact__us */

.contact__us {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  text-transform: capitalize;
  color: #6d91ee;
  margin-top: 2rem;
}

.contact__bottom {
  /* border: 2px solid blue; */
  height: 100%;
  /* width: 50rem; */
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
}

.contact__left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* border: 4px solid blue; */
}

.same {
  width: 18rem;
  height: 3rem;
  background: #6d91ee;
  border-radius: 2rem;
}

.diff {
  background: transparent;
  border: 3px solid #6d91ee;
  width: 9rem;
}

.contact__right {
  /* border: 4px solid blue; */
  /* height: 70%; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.contact__block {
  gap: 1rem;
}

.contact__right p {
  text-transform: capitalize;
}

/* desktop__view */

@media screen and (min-width: 60rem) {
  .checkbox:checked ~ nav {
    display: block;
  }

  .header {
    background: url(./img/hero.png) no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .header__rough {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .label {
    display: none;
  }

  .nav__ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: transparent;
  }

  /* about */
  .about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 80vh;
  }

  .about::before {
    content: "";
    position: absolute;
    left: 44%;
    top: 0;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 80vh;
    background: #6d91ee;
    transform: skewX(-35deg);
    border-top-left-radius: 3rem;
    z-index: 1;
    /* overflow: hidden; */
    /* left: 45.5%; */
  }

  .about::after {
    content: "";
    position: absolute;
    right: 0;
    width: 40%;
    height: 80vh;
    background: #6d91ee;
    z-index: 1;
    /* overflow: hidden; */
    border-top-left-radius: 10rem;
  }

  .about__left > *,
  .about__right > * {
    width: 20rem;
  }

  .about__right {
    z-index: 2;
  }

  .about__right {
    text-align: end;
  }

  .btn__block {
    width: 100%;
  }

  /* services */

  .services {
    height: 100vh;
  }

  .services__img {
    width: 17rem;
  }

  .services__box {
    width: 17rem;
  }

  .services__block {
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
  }

  /* testymonials */

  .testymonials {
    height: 100vh;
    /* border: 2px solid red; */
  }

  .testymonials__bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  /* contact */

  .contact__us {
    height: 50vh;
    display: flex;
    align-items: center;
  }

  .contact__bottom {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    width: 100%;
  }

  .contact__right {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

/* desktop__view__end*/

/* contact__end */

.checkbox {
  display: none;
}
